.Board {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.Cell {
    background: #ccc;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    margin: 1px;
}

.ActiveCell {
    background: red;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    margin: 1px;
}

.controls {
    margin-top: 20px;
}

.button {
    margin-left: 12px;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
    width: 100%;
    justify-content: center;
}